body {
  font-family: "PT Sans", sans-serif;
  background-color: #252529;
  margin: 0;
  color: white;
}
a {
  text-decoration: none;
  color: #ccc;
}
nav {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  background-color: #380f56;
  color: rgb(red, green, blue);
  position: fixed;
}
/* nav > .social-network{
  flex: 2;
} */
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
  padding: 12px 0;
}
.menu-righ a {
  margin: 0;
  padding: 0;
}
.social-network {
  font-size: 20px;
}
span {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.search input[type="text"] {
  border: 1px solid #ccc;
  padding: 6px;
  margin: 7px 0;
}
.hidden-button {
  font-size: 20px;
  padding: 10px 0 0 10px;
}
nav li:hover {
  background-color: green;
}
.social-network :hover {
  background-color: green;
}
.search :hover {
  background-color: #e9e9e9;
}
@media only screen and (max-width: 700px) {
  span {
    display: block;
  }
  ul li {
    display: block;
  }
  ul {
    display: none;
  }
}
.background{
  background: url(../images/baground.jpg);
  height: 400px;
  padding: 180px 0 0 0;
}
#about{
  text-align: center;
  color: #380f56;
}

.footer-section{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.social-icon{
  height: 245px;
  width: 200px;
}
.social-icon a{
  font-size: 20px;
  padding: 22px;
  display: flex;
  display: inline-block;
  
}
.handles{
  text-align: center;
  color: #ca94ef;
}
.social-icon1 :hover{
  background-color: green;
}
.my-location{
  margin: 8px;
  padding: 8px;
 
}
.location{
  text-align: center;
}
footer .Contact{
  padding:0;
  margin: 8px;
  width: 300px;
}
.copyright{
  margin: 0;
  padding: 4px;
  text-align: center;
  background-color: rgb(53, 53, 47);
  color: rgb(26, 195, 195);
}